---
import Layout from "../layouts/Layout.astro";
import Buscador from "../components/Buscador.astro";
import InfoCard from "../components/InfoCard.astro";
import { cardsData } from "../data/indiceData";
---

<Layout>
  <div class="flex flex-col items-center mb-6">
    <h2 class="text-3xl text-center" aria-label="Explorar los diferentes temas de una macro">
      Explorar los diferentes temas de una macro
    </h2>
    <Buscador />
  </div>

  <!-- GRID 3x3 de tarjetas -->
  <div id="grid" class="grid-cards grid gap-x-6 gap-y-8">
    {cardsData.map((card) => <InfoCard {...card} />)}

    <!-- Tarjeta 9 -->
    <div data-aos="fade-up">
      <article id="tarjeta-9" class="card rounded-lg wow-frame bg-base-200 shadow-xl efectohover h-full">
        <div class="card-body p-6 items-center">
          <figure class="mb-4">
            <i class="bi bi-heart-fill text-5xl text-primary" aria-hidden="true"></i>
          </figure>
          <h3 class="card-title text-xl text-center" aria-label="Agradecimientos y enlaces útiles">Agradecimientos</h3>
          <div class="mt-1 w-full">
            <a href="/agradecimientos/#agradecimientos" class="btn btn-soft btn-primary w-full">
              <i class="bi bi-heart-fill" aria-hidden="true"></i> Ir a Agradecimientos
            </a>
          </div>
        </div>
      </article>
    </div>
  </div>
</Layout>
