---
import Layout from "../layouts/Layout.astro";
import TextoAVoz from "../components/TextoAVoz.astro";
---

<Layout>
  <section id="contenido" class="p-4 md:p-8">
    <div class="card w-full bg-base-200 shadow-xl">
      <div class="card-body">
        <h1 class="text-5xl mb-6" id="definicion10" aria-label="Secci칩n 10: Macros de Mascotas Mansas">
          10. Macros De Mascotas Mansas
        </h1>
        <TextoAVoz>
          <div class="text-lg antialiased">
            <p class="antialiased">Estas macros est치n pensadas para interactuar con tus mascotas mansas.</p>
          </div>
        </TextoAVoz>
        <div class="divider"></div>

        <h2 class="text-4xl mb-4" id="SUMMONPET" aria-label="Subsecci칩n 10.1: Comando SUMMONPET">10.1 SUMMONPET</h2>
        <TextoAVoz>
          <p class="text-lg antialiased">Invoca una mascota aleatoria de tu lista completa:</p>
          <div class="card bg-base-300 p-2 my-4">
            <code>/summonpet [condiciones]</code>
          </div>
        </TextoAVoz>
        <div class="divider"></div>

        <h2 class="text-4xl mb-4" id="RANDOMFAVORITEPET" aria-label="Subsecci칩n 10.2: Comando RANDOMFAVORITEPET">
          10.2 RANDOMFAVORITEPET
        </h2>
        <TextoAVoz>
          <p class="text-lg antialiased">Invoca una mascota aleatoria de tu lista de favoritas:</p>
          <div class="card bg-base-300 p-2 my-4">
            <code>/randomfavoritepet [condiciones]</code>
          </div>
        </TextoAVoz>
      </div>
    </div>
  </section>
</Layout>
