---
import Layout from "../layouts/Layout.astro";
import TextoAVoz from "../components/TextoAVoz.astro";
---

<Layout>
  <section id="contenido" class="p-4 md:p-8">
    <div class="card w-full bg-base-200 shadow-xl">
      <div class="card-body">
        <h1 class="text-5xl font-bold mb-6" id="6" aria-label="Sección: Macros tipo texto">Macros tipo texto</h1>

        <h2 class="text-4xl font-semibold mb-5" id="6.1" aria-label="Subsección: Acción">Acción:</h2>

        <h3 class="text-3xl font-semibold mb-4" id="t" aria-label="Comando %t">%t</h3>
        <TextoAVoz>
          <div class="text-lg antialiased">
            <p class="antialiased">
              El comando "%t" no es en sí un comando, sino una opción que cabe destacar para las macros de chat (o
              incluso para el chat en sí mismo).
            </p>
            <p class="antialiased">Al poner %t el juego escribirá el nombre de tu objetivo.</p>
            <p class="antialiased">En caso de no tener objetivo pondrá "sin objetivo".</p>
            <div class="mockup-code my-4">
              <pre data-prefix="$"><code class="select-all">/p ¡Mi objetivo se llama %t!</code></pre>
            </div>
          </div>
        </TextoAVoz>
        <div class="divider"></div>

        <h3 class="text-3xl font-semibold mb-4" id="f" aria-label="Comando %f">%f</h3>
        <TextoAVoz>
          <div class="text-lg antialiased">
            <p class="antialiased">
              El comando "%f" funciona igual que el "%t" pero en vez del nombre del objetivo dirá el nombre de tu focus.
            </p>
            <div class="mockup-code my-4">
              <pre data-prefix="$"><code class="select-all">/p ¡Mi focus se llama %f!</code></pre>
            </div>
          </div>
        </TextoAVoz>
        <div class="divider"></div>

        <h2 class="text-4xl font-semibold mb-5" id="6.2" aria-label="Subsección: Canales">Canales:</h2>

        <h3 class="text-3xl font-semibold mb-4" id="utilizacion" aria-label="Subsección: Utilización de canales">
          Utilización
        </h3>
        <TextoAVoz>
          <div class="text-lg antialiased">
            <p class="antialiased">A la hora de poner un canal se pondrá delante del texto.</p>
            <p class="antialiased">
              En el ejemplo siguiente donde pone CANAL es lo que deberás sustituir por el apartado siguiente:
            </p>
            <div class="mockup-code my-4">
              <pre data-prefix="$"><code class="select-all">/CANAL ¡Hola, esto es un texto!</code></pre>
            </div>
          </div>
        </TextoAVoz>
        <div class="divider"></div>

        <h3 class="text-3xl font-semibold mb-4" id="listacanales" aria-label="Subsección: Lista de canales">
          Lista de canales
        </h3>
        <TextoAVoz>
          <ol class="list-decimal list-inside pl-4 text-lg antialiased">
            <li>s: Decir</li>
            <li>g: Clan</li>
            <li>p: Grupo</li>
            <li>ra: Banda</li>
            <li>rw: Aviso de Banda</li>
            <li>bg: Campo de batalla</li>
          </ol>
        </TextoAVoz>
      </div>
    </div>
  </section>
</Layout>
