---
import Layout from "../layouts/Layout.astro";
import TextoAVoz from "../components/TextoAVoz.astro";
import { Image } from "astro:assets";
import bolsas from "../assets/img/infoimg/bolsas.png";
import InventorySlots from "../assets/img/infoimg/InventorySlots.webp";
import slotnumber from "../assets/img/infoimg/slotnumber.png";
---

<Layout>
  <section id="contenido" class="p-4 md:p-8">
    <div class="card w-full bg-base-200 shadow-xl">
      <div class="card-body">
        <h1 class="text-5xl font-bold mb-6" id="definicion9" aria-label="Sección: Macros de Equipo">
          Macros De Equipo
        </h1>
        <TextoAVoz>
          <p class="text-lg antialiased">
            Las macros de equipo son aquellas que nos permiten equipar, desequipar o usar objetos.
          </p>
        </TextoAVoz>
        <div class="divider"></div>

        <h2 class="text-4xl font-semibold mb-5" id="use" aria-label="Subsección: Comando USE">USE</h2>
        <TextoAVoz>
          <div class="text-lg antialiased">
            <p class="antialiased">Los "/use" tienen 3 usos. El más común es ponerle al lado el nombre de un objeto:</p>
            <div class="mockup-code my-4">
              <pre data-prefix="$"><code class="select-all">/use [condiciones] Nombre Del Objeto;</code></pre>
            </div>
            <p class="antialiased">
              Otro uso es ponerle que use una casilla en concreto de tus bolsas (siendo las bolsas del 0 al 4 y del 1
              hasta la última casilla empezando siempre por la izquierda arriba):
            </p>
            <div class="text-center my-4">
              <Image src={bolsas} alt="Numeración de las bolsas para macros" class="inline-block max-w-full h-auto" />
              <Image
                src={slotnumber}
                alt="Numeración de las casillas de las bolsas para macros"
                class="inline-block max-w-full h-auto"
              />
            </div>

            <div class="mockup-code my-4">
              <pre data-prefix="$"><code class="select-all">/use [condiciones] numero bolsa número hueco</code></pre>
            </div>
            <p class="antialiased">Y finalmente el de usar el objeto equipado dependiendo de la casilla:</p>
            <div class="mockup-code my-4">
              <pre data-prefix="$"><code class="select-all">/use [condiciones] casilla</code></pre>
            </div>
            <p class="antialiased">
              Este apartado realmente es el más interesante puesto que nos permite, entre otras cosas, automatizar los
              usos de nuestro equipo siempre que estén disponibles. Ten en cuenta que esta lista es para usar los
              posibles "usos" que tengan cada uno de estos objetos:
            </p>
            <div class="text-center my-4">
              <Image src={InventorySlots} alt="Ranuras de inventario" class="inline-block max-w-full h-auto" />
            </div>
          </div>
        </TextoAVoz>
        <div class="divider"></div>

        <h2 class="text-4xl font-semibold mb-5" id="equip" aria-label="Subsección: Comando EQUIP">EQUIP</h2>
        <TextoAVoz>
          <p class="text-lg antialiased">Te permite equipar un objeto a través de su nombre:</p>
          <div class="mockup-code my-4">
            <pre data-prefix="$"><code class="select-all">/equip [condiciones] nombre del objeto;</code></pre>
          </div>
        </TextoAVoz>
        <div class="divider"></div>

        <h2 class="text-4xl font-semibold mb-5" id="equipslot" aria-label="Subsección: Comando EQUIPSLOT">EQUIPSLOT</h2>
        <TextoAVoz>
          <p class="text-lg antialiased">
            Te permite equipar un objeto en una casilla de manera específica. Ideal para cuando quieres cambiar un
            anillo en concreto o armas de 1 mano. La lista de "Casillas" es la misma que en el apartado anterior:
          </p>
          <div class="mockup-code my-4">
            <pre
              data-prefix="$"><code class="select-all">/equipslot [condiciones] Casilla nombre del objeto;</code></pre>
          </div>
        </TextoAVoz>
        <div class="divider"></div>

        <h2 class="text-4xl font-semibold mb-5" id="equipset" aria-label="Subsección: Comando EQUIPSET">EQUIPSET</h2>
        <TextoAVoz>
          <p class="text-lg antialiased">
            Te permite equipar un set que hayas guardado usando el gestor de equipamiento de Blizzard:
          </p>
          <div class="mockup-code my-4">
            <pre data-prefix="$"><code class="select-all">/equipset [condiciones] nombredelset;</code></pre>
          </div>
        </TextoAVoz>
      </div>
    </div>
  </section>
</Layout>
