---
import Layout from "../layouts/Layout.astro";
import TextoAVoz from "../components/TextoAVoz.astro";
---

<Layout>
  <section id="contenido" class="p-4 md:p-8">
    <div class="card w-full bg-base-200 shadow-xl">
      <div class="card-body">
        <h1 class="text-4xl mb-4" id="macroscript" aria-label="Sección 11: Macros tipo scripts">Macros tipo Script</h1>

        <TextoAVoz>
          <div class="text-lg antialiased">
            <p class="antialiased">
              Las macros de tipo script son macros que se escriben y ejecutan directamente en lenguaje LUA, el lenguaje
              de scripting que utiliza World of Warcraft. Permiten realizar acciones más complejas que no son posibles
              con los comandos de macro estándar.
            </p>
            <h4 class="text-2xl mt-6 mb-2" aria-label="Notas importantes sobre los scripts">Notas importantes:</h4>
            <ul class="list-disc list-inside pl-4 antialiased">
              <li>El código no puede contener saltos de línea (debes escribirlo todo en una sola línea).</li>
              <li>
                No se pueden eludir las limitaciones de la API de Blizzard (por ejemplo, no se pueden lanzar dos
                hechizos con tiempo de reutilización global a la vez).
              </li>
              <li>El código LUA se procesa por separado y no se puede usar para insertar condiciones dinámicas.</li>
              <li>
                Las funciones de la API pueden cambiar entre versiones de World of Warcraft, por lo que un script puede
                dejar de funcionar tras una actualización.
              </li>
            </ul>
          </div>
        </TextoAVoz>

        <br />

        <h1 class="text-3xl mb-4" id="scripts-listos" aria-label="Scripts listos para usar">
          Scripts listos para usar
        </h1>
        <TextoAVoz>
          <div class="text-lg antialiased">
            <h2 class="text-2xl mt-6 mb-2" aria-label="Comprar objeto de mercader">Comprar objeto de mercader</h2>
            <p class="antialiased">
              Esta macro comprará un objeto de un vendedor sin necesidad de confirmación. ¡Útil para compras masivas!
            </p>
            <div class="mockup-code my-4">
              <pre data-prefix="$"><code class="select-all">/run BuyMerchantItem(1, 1)</code></pre>
            </div>
            <p class="antialiased">
              El primer número `(1)` es la posición del objeto en la ventana del vendedor, y el segundo número `(1)` es
              la cantidad a comprar. El número máximo que se puede comprar de una vez es 255.
            </p>
          </div>
        </TextoAVoz>
      </div>
    </div>
  </section>
</Layout>
