---
import Layout from "../layouts/Layout.astro";
import TextoAVoz from "../components/TextoAVoz.astro";
import { Image } from "astro:assets";
import bolsas from "../assets/img/infoimg/bolsas.png";
import InventorySlots from "../assets/img/infoimg/InventorySlots.webp";
import slotnumber from "../assets/img/infoimg/slotnumber.png";
---

<Layout>
  <section id="contenido" class="p-4 md:p-8">
    <div class="card w-full bg-base-200 shadow-xl">
      <div class="card-body">
        <h1 class="text-5xl mb-6" id="9" aria-label="Sección 9: Macros de Equipo">9. Macros De Equipo</h1>
        <TextoAVoz>
          <p class="text-lg antialiased">
            Las macros de equipo son aquellas que nos permiten equipar, desequipar o usar objetos.
          </p>
        </TextoAVoz>
        <div class="divider"></div>

        <h2 class="text-4xl mb-4" id="USE" aria-label="Subsección 9.1: Comando USE">9.1. USE</h2>
        <TextoAVoz>
          <div class="text-lg antialiased">
            <p class="antialiased">Los "/use" tienen 3 usos. El más común es ponerle al lado el nombre de un objeto:</p>
            <div class="card bg-base-300 p-2 my-4">
              <code>/use [condiciones] Nombre Del Objeto;</code>
            </div>
            <p class="antialiased">
              Otro uso es ponerle que use una casilla en concreto de tus bolsas (siendo las bolsas del 0 al 4 y del 1
              hasta la última casilla empezando siempre por la izquierda arriba):
            </p>
            <div class="text-center my-4">
              <Image src={bolsas} alt="slot de bolsa" class="inline-block max-w-full h-auto" />
              <Image src={slotnumber} alt="slot de equipo" class="inline-block max-w-full h-auto" />
            </div>

            <div class="card bg-base-300 p-2 my-4">
              <code>/use [condiciones] numero bolsa número hueco</code>
            </div>
            <p class="antialiased">Y finalmente el de usar el objeto equipado dependiendo de la casilla:</p>
            <div class="card bg-base-300 p-2 my-4">
              <code>/use [condiciones] casilla</code>
            </div>
            <p class="antialiased">
              Este apartado realmente es el más interesante puesto que nos permite, entre otras cosas, automatizar los
              usos de nuestro equipo siempre que estén disponibles. Ten en cuenta que esta lista es para usar los
              posibles "usos" que tengan cada uno de estos objetos:
            </p>
            <div class="text-center my-4">
              <Image src={InventorySlots} alt="Ranuras de inventario" class="inline-block max-w-full h-auto" />
            </div>
          </div>
        </TextoAVoz>
        <div class="divider"></div>

        <h2 class="text-4xl mb-4" id="EQUIP" aria-label="Subsección 9.2: Comando EQUIP">9.2. EQUIP</h2>
        <TextoAVoz>
          <p class="text-lg antialiased">Te permite equipar un objeto a través de su nombre:</p>
          <div class="card bg-base-300 p-2 my-4">
            <code>/equip [condiciones] nombre del objeto;</code>
          </div>
        </TextoAVoz>
        <div class="divider"></div>

        <h2 class="text-4xl mb-4" id="EQUIPSLOT" aria-label="Subsección 9.3: Comando EQUIPSLOT">9.3. EQUIPSLOT</h2>
        <TextoAVoz>
          <p class="text-lg antialiased">
            Te permite equipar un objeto en una casilla de manera específica. Ideal para cuando quieres cambiar un
            anillo en concreto o armas de 1 mano. La lista de "Casillas" es la misma que en el apartado anterior:
          </p>
          <div class="card bg-base-300 p-2 my-4">
            <code>/equipslot [condiciones] Casilla nombre del objeto;</code>
          </div>
        </TextoAVoz>
        <div class="divider"></div>

        <h2 class="text-4xl mb-4" id="EQUIPSET" aria-label="Subsección 9.4: Comando EQUIPSET">9.4. EQUIPSET</h2>
        <TextoAVoz>
          <p class="text-lg antialiased">
            Te permite equipar un set que hayas guardado usando el gestor de equipamiento de Blizzard:
          </p>
          <div class="card bg-base-300 p-2 my-4">
            <code>/equipset [condiciones] nombredelset;</code>
          </div>
        </TextoAVoz>
      </div>
    </div>
  </section>
</Layout>
